body {
  margin: 0;
}
.nav {
  top: 0;
  left: 0;
  background: blueviolet;
  padding: 1rem;
  width: 100%;
  display: flex;
  justify-content: space-around;
  position: fixed;
  margin-top: 0;
  z-index: 1000;
}

.nav a {
  font-size: 1.8rem;
  text-decoration: none;
  color: white;
  font-weight: bold;
}

.container {
  max-width: 100%;
  margin: auto;
}
.cards {
  margin-top: 180px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.207);
  padding: 15px;
  width: 180px;
  cursor: pointer;
  margin-bottom: 20px;
  margin: 10px;
}

input {
  font-size: 1.3rem;
  padding: 0.4rem;
  width: 19rem;
  border: 1px solid white;
  font-weight: 50;
  border-radius: 9px;
}

@media (min-width: 768px) {
  .container {
    width: 100%;
  }
}

@media (min-width: 1024px) {
  .container {
    max-width: 90%;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 80%;
  }
}
